# Assignment 1B

In [81]:
import pandas as pd

In [82]:
df = pd.read_csv("dataset_Facebook.csv", delimiter = ",")
df

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119

In [83]:
df.shape

(500, 19)

In [84]:
df.isnull().sum()

Page total likes                                                       0
Type                                                                   0
Category                                                               0
Post Month                                                             0
Post Weekday                                                           0
Post Hour                                                              0
Paid                                                                   1
Lifetime Post Total Reach                                              0
Lifetime Post Total Impressions                                        0
Lifetime Engaged Users                                                 0
Lifetime Post Consumers                                                0
Lifetime Post Consumptions                                             0
Lifetime Post Impressions by people who have liked your Page           0
Lifetime Post reach by people who like your Page                       0
Lifetime People who have liked your Page and engaged with your post    0
comment                                                                0
like                                                                   1
share                                                                  4
Total Interactions                                                     0
dtype: int64

In [85]:
data = df.dropna()

In [86]:
data.isnull().sum()

Page total likes                                                       0
Type                                                                   0
Category                                                               0
Post Month                                                             0
Post Weekday                                                           0
Post Hour                                                              0
Paid                                                                   0
Lifetime Post Total Reach                                              0
Lifetime Post Total Impressions                                        0
Lifetime Engaged Users                                                 0
Lifetime Post Consumers                                                0
Lifetime Post Consumptions                                             0
Lifetime Post Impressions by people who have liked your Page           0
Lifetime Post reach by people who like your Page                       0
Lifetime People who have liked your Page and engaged with your post    0
comment                                                                0
like                                                                   0
share                                                                  0
Total Interactions                                                     0
dtype: int64

In [87]:
data.shape  # 5 rows dropped

(495, 19)

### Create Subsets

In [88]:
data['Page total likes'].mean()

np.float64(123173.26868686869)

In [89]:
subset1 = data[data["Page total likes"]>123173]
subset1.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393

In [90]:
subset2 = data[["Type","like","share", "comment"]]
subset2

       Type    like  share  comment
0     Photo    79.0   17.0        4
1    Status   130.0   29.0        5
2     Photo    66.0   14.0        0
3     Photo  1572.0  147.0       58
4     Photo   325.0   49.0       19
..      ...     ...    ...      ...
494   Photo   125.0   41.0       10
495   Photo    53.0   26.0        5
496   Photo    53.0   22.0        0
497   Photo    93.0   18.0        4
498   Photo    91.0   38.0        7

[495 rows x 4 columns]

In [91]:
subset3 = data[["Type","Page total likes","Category"]]
subset3

       Type  Page total likes  Category
0     Photo            139441         2
1    Status            139441         2
2     Photo            139441         3
3     Photo            139441         2
4     Photo            139441         2
..      ...               ...       ...
494   Photo             85093         3
495   Photo             85093         3
496   Photo             81370         2
497   Photo             81370         1
498   Photo             81370         3

[495 rows x 3 columns]

In [92]:
subset4 = data[data["Type"]=="status"]
subset4.head()

Empty DataFrame
Columns: [Page total likes, Type, Category, Post Month, Post Weekday, Post Hour, Paid, Lifetime Post Total Reach, Lifetime Post Total Impressions, Lifetime Engaged Users, Lifetime Post Consumers, Lifetime Post Consumptions, Lifetime Post Impressions by people who have liked your Page, Lifetime Post reach by people who like your Page, Lifetime People who have liked your Page and engaged with your post, comment, like, share, Total Interactions]
Index: []

In [93]:
subset5 = data[(data.like > 500) & (data.share > 30)]
subset5.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
28,138895,Photo,2,12,5,3,0.0,9560,18264,973,559,885,9217,4748,621,36,523.0,63.0,622
67,138185,Photo,1,11,7,3,1.0,53456,93790,1576,995,1469,32646,14912,884,20,697.0,70.0,787
101,137020,Photo,2,10,4,3,0.0,68896,104952,2624,1326,1952,35707,19840,1354,26,1505.0,95.0,1626
105,137020,Photo,1,10,2,4,0.0,70144,111745,3216,2628,4782,43671,20608,1542,42,955.0,139.0,1136

In [94]:
subset6 = data.loc[0:250]
subset6

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246,130791,Photo,2,7,2,8,0.0,2881,5188,550,503,730,3840,2040,323,0,73.0,15.0,88
247,129600,Photo,2,7,1,12,0.0,3460,6503,541,482,667,4371,2260,314,0,96.0,19.0,115
248,129600,Photo,3,7,1,6,0.0,3406,5656,571,512,731,4446,2598,355,1,98.0,19.0,118
249,129600,Photo,2,7,7,11,1.0,2602,4349,479,444,588,3342,1946,287,1,53.0,14.0,68
250,129600,Photo,1,7,7,6,1.0,5848,9068,622,570,795,6651,4212,383,4,71.0,10.0,85

In [95]:
subset7 = data.iloc[:,0:10]
subset7

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users
0,139441,Photo,2,12,4,3,0.0,2752,5091,178
1,139441,Status,2,12,3,10,0.0,10460,19057,1457
2,139441,Photo,3,12,3,3,0.0,2413,4373,177
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211
4,139441,Photo,2,12,2,3,0.0,7244,13594,671
...,...,...,...,...,...,...,...,...,...,...
494,85093,Photo,3,1,7,10,0.0,5400,9218,810
495,85093,Photo,3,1,7,2,0.0,4684,7536,733
496,81370,Photo,2,1,5,8,0.0,3480,6229,537
497,81370,Photo,1,1,5,2,0.0,3778,7216,625
498,81370,Photo,3,1,4,11,0.0,4156,7564,626

In [96]:
subset8 = data.iloc[201:500]
subset8

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
205,132201,Photo,1,8,1,12,1.0,3254,5644,371,344,513,5069,2846,283,0,39.0,3.0,42
206,132201,Photo,1,8,1,3,0.0,50640,121234,2240,1577,2779,92348,34880,1790,4,859.0,68.0,931
207,132201,Photo,2,8,7,10,0.0,3734,6218,529,434,794,4831,2868,389,5,137.0,20.0,162
208,132201,Photo,3,8,7,3,0.0,2594,4220,347,315,529,3418,2067,248,1,54.0,11.0,66
209,132201,Photo,2,8,6,10,1.0,2232,3772,376,322,440,2205,1306,257,2,74.0,22.0,98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494,85093,Photo,3,1,7,10,0.0,5400,9218,810,756,1003,5654,3230,422,10,125.0,41.0,176
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136

### Merge  & Concat Cheat Sheet  

#### ðŸ”— `pd.merge(df1, df2, on="key", how="...")`  
- **inner** â†’ Only matching rows (like SQL INNER JOIN)  
- **outer** â†’ All rows, fill missing with NaN (like FULL OUTER JOIN)  
- **left** â†’ All from left, matching from right (like LEFT JOIN)  
- **right** â†’ All from right, matching from left (like RIGHT JOIN)  

#### ðŸ“Œ `pd.concat([df1, df2], axis=...)`  
- **axis=0** â†’ Add rows (stack like appending data)  
- **axis=1** â†’ Add columns (side-by-side like features merging)  

ðŸš€ **Merge for relations, Concat for stacking!**

In [97]:
merge_inner = pd.merge(subset6,subset8, left_index=True, right_index=True) #default how='inner' 
merge_inner

,Page total likes_x,Type_x,Category_x,Post Month_x,Post Weekday_x,Post Hour_x,Paid_x,Lifetime Post Total Reach_x,Lifetime Post Total Impressions_x,Lifetime Engaged Users_x,...,Lifetime Engaged Users_y,Lifetime Post Consumers_y,Lifetime Post Consumptions_y,Lifetime Post Impressions by people who have liked your Page_y,Lifetime Post reach by people who like your Page_y,Lifetime People who have liked your Page and engaged with your post_y,comment_y,like_y,share_y,Total Interactions_y
205,132201,Photo,1,8,1,12,1.0,3254,5644,371,...,371,344,513,5069,2846,283,0,39.0,3.0,42
206,132201,Photo,1,8,1,3,0.0,50640,121234,2240,...,2240,1577,2779,92348,34880,1790,4,859.0,68.0,931
207,132201,Photo,2,8,7,10,0.0,3734,6218,529,...,529,434,794,4831,2868,389,5,137.0,20.0,162
208,132201,Photo,3,8,7,3,0.0,2594,4220,347,...,347,315,529,3418,2067,248,1,54.0,11.0,66
209,132201,Photo,2,8,6,10,1.0,2232,3772,376,...,376,322,440,2205,1306,257,2,74.0,22.0,98
210,132201,Photo,3,8,6,3,1.0,22120,54734,979,...,979,906,1751,46700,17528,796,6,98.0,3.0,107
211,132201,Photo,3,8,5,10,0.0,7980,12978,630,...,630,398,521,9342,5372,467,2,264.0,21.0,287
212,132201,Photo,2,8,5,1,0.0,1659,2845,345,...,345,321,424,1604,915,239,3,36.0,11.0,50
213,132201,Photo,3,8,4,11,1.0,1006,1594,277,...,277,268,354,1055,651,187,1,11.0,3.0,15
214,132201,Photo,3,8,4,3,1.0,12728,21685,844,...,844,461,683,15779,8844,657,4,435.0,31.0,470
215,131956,Photo,1,8,3,10,0.0,28880,64746,1062,...,1062,991,1971,40181,15808,740,2,114.0,10.0,126
216,131956,Photo,2,8,3,4,0.0,1330,2327,363,...,363,351,433,1475,827,230,2,17.0,9.0,28
217,131956,Status,2,8,2,12,0.0,14424,26000,304,...,304,286,383,25539,14056,291,41,15.0,1.0,57
218,131956,Photo,1,8,2,7,0.0,14200,26728,1393,...,1393,1354,3214,25610,13376,1233,3,87.0,10.0,100
219,131956,Photo,3,8,1,12,0.0,5746,9874,769,...,769,632,1063,7407,4288,584,16,227.0,28.0,271
220,131956,Photo,2,8,1,4,0.0,2540,4372,389,...,389,330,458,3655,2063,279,2,86.0,8.0,96
221,131956,Photo,3,8,7,10,0.0,4324,7241,548,...,548,431,676,4972,3008,401,6,179.0,27.0,212
222,131808,Status,2,8,7,4,0.0,8260,14305,997,...,997,953,1211,12905,7360,956,1,74.0,11.0,86
223,131808,Status,2,8,6,10,1.0,20168,35904,3370,...,3370,3244,5106,26881,15056,2806,18,332.0,54.0,404
224,131808,Photo,1,8,6,6,0.0,5046,9084,528,...,528,477,906,7723,4184,421,2,80.0,21.0,103
225,131808,Status,2,7,5,14,0.0,15296,25269,2827,...,2827,2781,3627,22103,13296,2602,9,95.0,17.0,121
226,131728,Photo,3,7,5,8,1.0,3414,6369,473,...,473,342,525,4518,2390,360,3,188.0,26.0,217
227,131728,Photo,1,7,4,10,1.0,95424,252207,699,...,699,575,882,78287,22016,417,6,109.0,11.0,126
228,131728,Photo,2,7,4,3,0.0,14824,21863,868,...,868,591,966,13498,8560,650,64,367.0,25.0,456
229,131630,Photo,2,7,3,13,0.0,3504,5699,444,...,444,374,497,4487,2730,348,9,102.0,19.0,130
230,131630,Photo,3,7,2,23,0.0,2822,5058,424,...,424,351,486,3681,2020,327,2,113.0,20.0,135
231,131630,Photo,3,7,2,13,0.0,2973,5063,356,...,356,297,415,3764,2208,266,0,94.0,20.0,114
232,131630,Status,2,7,2,6,1.0,10824,20573,135,...,135,126,153,20030,10384,126,6,14.0,1.0,21
233,131630,Photo,1,7,1,11,0.0,4592,6691,320,...,320,289,423,3238,2100,222,1,43.0,10.0,54
234,131630,Photo,2,7,1,5,0.0,3176,5278,372,...,372,319,577,3993,2426,279,1,98.0,21.0,120
235,131300,Status,2,7,7,10,0.0,10956,19279,128,...,128,119,130,18838,10564,123,3,13.0,1.0,17
236,131300,Photo,3,7,7,4,0.0,10888,19744,913,...,913,783,1370,14425,8048,722,12,237.0,45.0,294
237,131300,Photo,2,7,6,10,0.0,3594,6316,424,...,424,354,530,4319,2468,309,4,112.0,23.0,139
238,131300,Photo,1,7,6,2,0.0,3384,6166,451,...,451,395,561,4708,2508,344,2,101.0,25.0,128
239,130791,Photo,2,7,5,11,1.0,4096,7200,487,...,487,406,723,4911,2826,355,10,145.0,31.0,186
240,130791,Photo,3,7,5,3,0.0,19968,35161,1016,...,1016,592,909,26701,14792,757,6,535.0,83.0,624
241,130791,Photo,1,7,4,11,0.0,4892,8499,536,...,536,460,721,7389,4206,428,4,118.0,22.0,144
242,130791,Status,2,7,4,6,0.0,17360,33613,2573,...,2573,2448,6017,23338,11800,1905,9,484.0,79.0,572
243,130791,Video,1,7,3,11,1.0,21872,40413,3872,...,3872,3822,7327,24667,12920,2218,18,315.0,76.0,409
244,130791,Photo,2,7,3,5,1.0,180480,319133,8072,...,8072,4010,6242,108752,51456,3316,372,5172.0,790.0,6334
245,130791,Photo,1,7,2,13,0.0,44464,66824,1052,...,1052,930,1571,22904,14080,559,4,154.0,30.0,188
246,130791,Photo,2,7,2,8,0.0,2881,5188,550,...,550,503,730,3840,2040,323,0,73.0,15.0,88
247,129600,Photo,2,7,1,12,0.0,3460,6503,541,...,541,482,667,4371,2260,314,0,96.0,19.0,115
248,129600,Photo,3,7,1,6,0.0,3406,5656,571,...,571,512,731,4446,2598,355,1,98.0,19.0,118
249,129600,Photo,2,7,7,11,1.0,2602,4349,479,...,479,444,588,3342,1946,287,1,53.0,14.0,68
250,129600,Photo,1,7,7,6,1.0,5848,9068,622,...,622,570,795,6651,4212,383,4,71.0,10.0,85

In [98]:
# Merging the DataFrames on Common Columns

merged_data = pd.merge(subset6,subset8,how='outer',suffixes=("_A", "_B"))
merged_data

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
1,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
2,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136
3,85093,Photo,3,1,1,2,0.0,8412,13960,1179,1111,1632,8632,5348,699,17,185.0,55.0,257
4,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
490,139441,Photo,3,12,7,9,1.0,13720,24137,537,232,305,19728,11056,422,0,325.0,14.0,339
491,139441,Status,2,12,1,9,0.0,10472,20849,1191,1073,1389,16034,7852,1016,1,152.0,33.0,186
492,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
493,139441,Status,2,12,5,10,0.0,21744,42334,4258,4100,4540,37849,18952,3798,0,233.0,19.0,252
494,139441,Status,2,12,7,3,0.0,11844,22538,1530,1407,1692,15220,7912,1250,0,161.0,31.0,192

In [115]:
merged_left = pd.merge(subset6,subset8,left_index=True,right_index=True ,how='right')
merged_left

,Page total likes_x,Type_x,Category_x,Post Month_x,Post Weekday_x,Post Hour_x,Paid_x,Lifetime Post Total Reach_x,Lifetime Post Total Impressions_x,Lifetime Engaged Users_x,...,Lifetime Engaged Users_y,Lifetime Post Consumers_y,Lifetime Post Consumptions_y,Lifetime Post Impressions by people who have liked your Page_y,Lifetime Post reach by people who like your Page_y,Lifetime People who have liked your Page and engaged with your post_y,comment_y,like_y,share_y,Total Interactions_y
205,132201.0,Photo,1.0,8.0,1.0,12.0,1.0,3254.0,5644.0,371.0,...,371,344,513,5069,2846,283,0,39.0,3.0,42
206,132201.0,Photo,1.0,8.0,1.0,3.0,0.0,50640.0,121234.0,2240.0,...,2240,1577,2779,92348,34880,1790,4,859.0,68.0,931
207,132201.0,Photo,2.0,8.0,7.0,10.0,0.0,3734.0,6218.0,529.0,...,529,434,794,4831,2868,389,5,137.0,20.0,162
208,132201.0,Photo,3.0,8.0,7.0,3.0,0.0,2594.0,4220.0,347.0,...,347,315,529,3418,2067,248,1,54.0,11.0,66
209,132201.0,Photo,2.0,8.0,6.0,10.0,1.0,2232.0,3772.0,376.0,...,376,322,440,2205,1306,257,2,74.0,22.0,98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,810,756,1003,5654,3230,422,10,125.0,41.0,176
495,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,733,708,985,4750,2876,392,5,53.0,26.0,84
496,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,537,508,687,3961,2104,301,0,53.0,22.0,75
497,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,625,572,795,4742,2388,363,4,93.0,18.0,115
498,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,626,574,832,4534,2452,370,7,91.0,38.0,136

In [117]:
concat_col = pd.concat([subset6,subset8], axis=1)
concat_col

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,...,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441.0,Photo,2.0,12.0,4.0,3.0,0.0,2752.0,5091.0,178.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,139441.0,Status,2.0,12.0,3.0,10.0,0.0,10460.0,19057.0,1457.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,139441.0,Photo,3.0,12.0,3.0,3.0,0.0,2413.0,4373.0,177.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,139441.0,Photo,2.0,12.0,2.0,10.0,1.0,50128.0,87991.0,2211.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,139441.0,Photo,2.0,12.0,2.0,3.0,0.0,7244.0,13594.0,671.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,810.0,756.0,1003.0,5654.0,3230.0,422.0,10.0,125.0,41.0,176.0
495,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,733.0,708.0,985.0,4750.0,2876.0,392.0,5.0,53.0,26.0,84.0
496,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,537.0,508.0,687.0,3961.0,2104.0,301.0,0.0,53.0,22.0,75.0
497,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,625.0,572.0,795.0,4742.0,2388.0,363.0,4.0,93.0,18.0,115.0
498,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,626.0,574.0,832.0,4534.0,2452.0,370.0,7.0,91.0,38.0,136.0

In [118]:
# (Concatenating Rows) Merging by Stacking Rows 
concat_row = pd.concat([subset6,subset8], axis=0)
concat_row

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494,85093,Photo,3,1,7,10,0.0,5400,9218,810,756,1003,5654,3230,422,10,125.0,41.0,176
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136

### Sort

In [120]:
sort_column1 = data.sort_values(by = "like", ascending = False)
sort_column1.head(5)

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
244,130791,Photo,2,7,3,5,1.0,180480,319133,8072,4010,6242,108752,51456,3316,372,5172.0,790.0,6334
379,111620,Photo,3,4,1,14,1.0,105632,147918,3984,2254,3391,48575,27328,1936,51,1998.0,128.0,2177
349,117764,Photo,3,5,5,13,0.0,81856,124753,3000,1637,2718,52477,27392,1756,45,1639.0,122.0,1806
168,135428,Photo,1,9,3,10,0.0,41984,68290,3370,2420,4074,34802,20928,2126,144,1622.0,208.0,1974
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777

In [121]:
sort_column2 = data.sort_values(by = "Type", ascending = True)
sort_column2

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
438,98195,Link,2,3,6,6,0.0,5730,10083,103,71,97,8964,4830,92,2,32.0,15.0,49
470,91437,Link,1,2,3,13,0.0,9356,14986,448,381,505,13919,8460,392,4,114.0,13.0,131
41,138895,Link,1,12,6,3,1.0,18480,28438,517,366,460,12078,6752,319,6,187.0,18.0,211
43,138353,Link,1,12,5,3,1.0,2645,4270,134,109,170,2330,1377,101,7,29.0,10.0,46
45,138353,Link,1,12,4,3,1.0,7968,13023,206,158,223,6734,3492,138,4,57.0,10.0,71
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243,130791,Video,1,7,3,11,1.0,21872,40413,3872,3822,7327,24667,12920,2218,18,315.0,76.0,409
71,137893,Video,1,11,5,3,1.0,100768,220447,2101,1735,2331,59658,18880,885,17,449.0,84.0,550
183,134879,Video,1,9,2,10,0.0,30624,56950,2080,1956,3253,32033,15744,1376,6,345.0,121.0,472
29,138895,Video,1,12,4,11,1.0,36208,61262,1141,1068,1728,30131,14112,559,18,143.0,13.0,174
74,137893,Video,1,11,3,11,0.0,13544,30235,517,458,667,26622,11760,447,2,99.0,13.0,114

In [124]:
multi_column1 = data.sort_values(by=["Category","like","share","comment"], ascending = False)
multi_column1.head(10)

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
379,111620,Photo,3,4,1,14,1.0,105632,147918,3984,2254,3391,48575,27328,1936,51,1998.0,128.0,2177
349,117764,Photo,3,5,5,13,0.0,81856,124753,3000,1637,2718,52477,27392,1756,45,1639.0,122.0,1806
460,92507,Photo,3,2,1,13,0.0,55520,665792,4544,3586,6624,648611,47488,3430,146,1546.0,181.0,1873
323,123047,Photo,3,6,1,10,0.0,56672,104966,2579,1334,1850,78678,37408,1831,20,1372.0,47.0,1439
199,132817,Photo,3,8,4,10,0.0,33536,64850,1954,1016,1678,50076,24448,1564,33,1155.0,102.0,1290
176,135195,Photo,3,9,6,3,1.0,22304,37159,1805,984,1618,22864,13304,1349,29,1047.0,98.0,1174
346,117764,Photo,3,5,7,2,0.0,38960,65149,2298,1702,3000,57722,34368,1978,37,821.0,90.0,948
191,133679,Photo,3,8,1,10,0.0,19648,33643,1359,695,990,24034,13528,1020,9,766.0,43.0,818
254,129600,Photo,3,7,5,3,0.0,54256,82011,1620,963,1419,42128,24224,977,10,755.0,58.0,823
442,98195,Photo,3,3,4,13,0.0,34480,191207,1591,1156,1926,184270,30720,1292,10,664.0,97.0,771

In [105]:
multi_column2 = data.sort_values(by=["Page total likes","Type"], ascending = True)
multi_column2

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136
493,85093,Photo,3,1,1,2,0.0,8412,13960,1179,1111,1632,8632,5348,699,17,185.0,55.0,257
494,85093,Photo,3,1,7,10,0.0,5400,9218,810,756,1003,5654,3230,422,10,125.0,41.0,176
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13,139441,Photo,2,12,5,3,0.0,2549,4896,249,134,168,3631,1917,183,5,137.0,10.0,152
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
5,139441,Status,2,12,1,9,0.0,10472,20849,1191,1073,1389,16034,7852,1016,1,152.0,33.0,186
8,139441,Status,2,12,7,3,0.0,11844,22538,1530,1407,1692,15220,7912,1250,0,161.0,31.0,192
10,139441,Status,2,12,5,10,0.0,21744,42334,4258,4100,4540,37849,18952,3798,0,233.0,19.0,252

In [106]:
transposed_data = data.T
transposed_data

,0,1,2,3,4,5,6,7,8,9,...,489,490,491,492,493,494,495,496,497,498
Page total likes,139441,139441,139441,139441,139441,139441,139441,139441,139441,139441,...,85979,85979,85979,85979,85093,85093,85093,81370,81370,81370
Type,Photo,Status,Photo,Photo,Photo,Status,Photo,Photo,Status,Photo,...,Photo,Photo,Photo,Link,Photo,Photo,Photo,Photo,Photo,Photo
Category,2,2,3,2,2,2,3,3,2,3,...,3,3,3,1,3,3,3,2,1,3
Post Month,12,12,12,12,12,12,12,12,12,12,...,1,1,1,1,1,1,1,1,1,1
Post Weekday,4,3,3,2,2,1,1,7,7,6,...,7,6,6,5,1,7,7,5,5,4
Post Hour,3,10,3,10,3,9,3,9,3,10,...,2,11,3,11,2,10,2,8,2,11
Paid,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Lifetime Post Total Reach,2752,10460,2413,50128,7244,10472,11692,13720,11844,4694,...,4800,5280,6184,45920,8412,5400,4684,3480,3778,4156
Lifetime Post Total Impressions,5091,19057,4373,87991,13594,20849,19479,24137,22538,8668,...,7754,8703,10228,5808,13960,9218,7536,6229,7216,7564
Lifetime Engaged Users,178,1457,177,2211,671,1191,481,537,1530,280,...,975,951,956,753,1179,810,733,537,625,626
Lifetime Post Consumers,109,1361,113,790,410,1073,265,232,1407,183,...,938,911,901,655,1111,756,708,508,572,574
Lifetime Post Consumptions,159,1674,154,1119,580,1389,364,305,1692,250,...,1278,1237,1140,763,1632,1003,985,687,795,832
Lifetime Post Impressions by people who have liked your Page,3078,11710,2812,61027,6228,16034,15432,19728,15220,4309,...,4932,5757,6085,15766,8632,5654,4750,3961,4742,4534
Lifetime Post reach by people who like your Page,1640,6112,1503,32048,3200,7852,9328,11056,7912,2324,...,2820,3300,3502,10720,5348,3230,2876,2104,2388,2452
Lifetime People who have liked your Page and engaged with your post,119,1108,132,1386,396,1016,379,422,1250,199,...,432,431,437,220,699,422,392,301,363,370
comment,4,5,0,58,19,1,3,0,0,3,...,1,1,1,0,17,10,5,0,4,7
like,79.0,130.0,66.0,1572.0,325.0,152.0,249.0,325.0,161.0,113.0,...,74.0,79.0,105.0,128.0,185.0,125.0,53.0,53.0,93.0,91.0
share,17.0,29.0,14.0,147.0,49.0,33.0,27.0,14.0,31.0,26.0,...,28.0,30.0,46.0,9.0,55.0,41.0,26.0,22.0,18.0,38.0
Total Interactions,100,164,80,1777,393,186,279,339,192,142,...,103,110,152,137,257,176,84,75,115,136

In [125]:
melted_data = data.melt(id_vars=['Type'], value_vars=['like', 'share', 'comment'])
melted_data.head()

     Type variable   value
0   Photo     like    79.0
1  Status     like   130.0
2   Photo     like    66.0
3   Photo     like  1572.0
4   Photo     like   325.0

In [108]:
pivoted_data = melted_data.pivot_table(index='Type', columns='variable', values='value', aggfunc='sum')
pivoted_data.head()

variable  comment     like    share
Type
Link         62.0   1613.0    284.0
Photo      3192.0  77492.0  11433.0
Status      401.0   7952.0   1414.0
Video        86.0   1620.0    365.0

In [109]:
melted_data = melted_data.drop_duplicates(subset=['Type', 'variable'])
melted_data

        Type variable  value
0      Photo     like   79.0
1     Status     like  130.0
22      Link     like   16.0
29     Video     like  143.0
495    Photo    share   17.0
496   Status    share   29.0
517     Link    share    2.0
524    Video    share   13.0
990    Photo  comment    4.0
991   Status  comment    5.0
1012    Link  comment    0.0
1019   Video  comment   18.0

In [110]:
pivoted_data = melted_data.pivot(index='Type', columns='variable', values='value')
pivoted_data

variable  comment   like  share
Type
Link          0.0   16.0    2.0
Photo         4.0   79.0   17.0
Status        5.0  130.0   29.0
Video        18.0  143.0   13.0

In [111]:
unique_counts_subset2 = subset2['Type'].nunique()
unique_counts_subset2

4

In [112]:
subset2 = subset2.drop_duplicates(subset=['Type'])
subset3 = subset3.drop_duplicates(subset=['Type'])

In [113]:
merged_df = pd.merge(subset2, subset3, on='Type', how='inner')
merged_df

     Type   like  share  comment  Page total likes  Category
0   Photo   79.0   17.0        4            139441         2
1  Status  130.0   29.0        5            139441         2
2    Link   16.0    2.0        0            138414         1
3   Video  143.0   13.0       18            138895         1

In [114]:
merged_df.shape

(4, 6)